[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/MartinCBN
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MartinCBN
	label-Verified = -1..+1 group user/MartinCBN
	push = group user/MartinCBN
	read = group user/MartinCBN
	rebase = group user/MartinCBN
	removeReviewer = group user/MartinCBN
	submit = group user/MartinCBN
[access "refs/heads/*"]
	create = group user/MartinCBN
	push = +force group user/MartinCBN
	pushMerge = group user/MartinCBN
	read = group user/MartinCBN
[access "refs/tags/*"]
	push = group user/MartinCBN
	push = +force group user/MartinCBN
